<%= stylesheet_link_tag "main" %>
<%= javascript_include_tag "jquery.jplayer.min" %>
<%= javascript_include_tag "jplayer.playlist.min" %>
<%= javascript_include_tag "jplayer.inspector.min" %>

<script>
$(document).ready(function(){
  var songs = <%= @songs.to_json.html_safe %>;
  
  console.log(songs);
  
	new jPlayerPlaylist({
		jPlayer: "#jquery_jplayer_1",
		cssSelectorAncestor: "#jp_container_1"
	}, <%= @songs.to_json.html_safe %>,
  {
		swfPath: "/swf",
		supplied: "mp3",
		wmode: "window"
	});
  
	$("#jplayer_inspector_1").jPlayerInspector({jPlayer:$("#jquery_jplayer_1")});
});
</script>

<% if signed_in? %>    
    
  <div class="player">
    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
    		<div id="jp_container_1" class="jp-audio">
    			<div class="jp-type-playlist">
    				<div class="jp-gui jp-interface">
    					<ul class="jp-controls">
    						<li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>
    						<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
    						<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
    						<li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
    						<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
    						<li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
    						<li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
    						<li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
    					</ul>
    					<div class="jp-progress">
    						<div class="jp-seek-bar">
    							<div class="jp-play-bar"></div>
    						</div>
    					</div>
    					<div class="jp-volume-bar">
    						<div class="jp-volume-bar-value"></div>
    					</div>
    					<div class="jp-current-time"></div>
    					<div class="jp-duration"></div>
    					<ul class="jp-toggles">
    					</ul>
    				</div>
    				<div class="jp-playlist">
    					<ul>
                
    						<li></li>
                
    					</ul>
    				</div>
    				<div class="jp-no-solution">
    					<span>Update Required</span>
    					To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    				</div>
    			</div>
    		</div>  
    </div>
  </div>
  
  <div class="sidebar">
    <%= link_to "Sign out", signout_path, method: "delete" %><br>
    
    <% Song.all.each do |song| %>
    <%= song.title %><br>
    <% end %>
  </div>
  
  <div class="clear"></div>
<% else %>
  <div class="center hero-unit">
    <h1>Sound of Dub</h1>

    <h2>
      Wub Wub Wub
    </h2>

    <%= link_to "Sign up!", signup_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Sign in!", signin_path, class: "btn btn-large btn-primary" %>
    
  </div>

<% end %>